r-matrix 
r-mass 
r-tidyverse
r-data.table
r-tidymodels
r-targets
r-tarchetypes
r-gtsummary
r-ggpubr
r-pacman
r-pak
r-renv
r-here
r-janitor
# r-visnetwork
r-curl
r-survminer
r-nanoparquet
r-sparklyr
r-tidycensus
r-remotes
r-ranger
r-ggally
r-xgboost
#r-reticulate
r-pdp
r-contrast
r-cardx
r-estimability
r-mvtnorm
r-numDeriv
r-emmeans
r-pillar
#r-rhdfs
r-pkgconfig
r-mgcv
r-matrix 